.container {
  cursor: pointer;
  display: inline;
  background-color: var(--colors-white);
  font-family: var(--font);
  font-size: var(--fz-buttons);
  color: var(--colors-accent);
  padding: var(--pad-sm-btn);
  border: none;
  border-radius: var(--radii);
}

.container:hover {
  color: var(--colors-white);
  background-color: var(--colors-accent-hov);
}

.deleteButton {
  display: inline-block;
}
