.container {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: var(--colors-white);
  font-family: var(--font);
  font-size: var(--fz-buttons);
  color: var(--colors-accent);
  padding: var(--pad-sm-btn);
  border: none;
  border-radius: var(--radii);
}

.container:hover {
  color: var(--colors-white);
  background-color: var(--colors-accent-hov);
}

.deleteButton {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.deleteButton:hover {
  color: #f06449;
}

@media (max-width: 481px) {
  .container {
    font-size: 11px;
  }
}
