.container {
  font-family: var(--font);
  padding: 1rem;
  background-color: var(--colors-white);
  border: 1px solid var(--colors-lightgrey);
  border-radius: var(--radii);
  margin-left: 30px;
  margin-bottom: 30px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.infoContainer {
  font-size: var(--fz-sm);
  color: var(--colors-grey);
}

.answersContainer {
  font-size: var(--fz-sm);
  color: var(--colors-grey);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.contentContainer {
  display: flex;
  margin-bottom: 1rem;
}

.contentContainer h2 {
  font-size: var(--fz-md1);
  margin-bottom: 0.5rem;
}

.contentContainer p {
  font-size: var(--fz-sm);
}

.content {
  width: 100%;
}

.image {
  border-radius: var(--radii);
  max-width: 20%;
  max-height: 200px;
  margin-right: 1rem;
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--colors-white);
  font-family: var(--font);
  font-size: var(--fz-buttons);
  color: var(--colors-accent);
  padding: var(--pad-sm-btn);
  border: none;
  border-radius: var(--radii);
}

.button:hover {
  color: var(--colors-white);
  background-color: var(--colors-accent-hov);
}

@media (max-width: 769px) {
  .container {
    padding: 1.5rem;
  }

  .topContainer {
    flex-direction: column;
  }

  .contentContainer {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .bottomContainer {
    flex-direction: column;
  }

  .button {
    margin-top: 1rem;
  }
}

@media (max-width: 481px) {
  .infoContainer {
    font-size: 13px;
  }

  .answersContainer {
    font-size: 13px;

    flex-direction: column;
    align-items: flex-start;
  }

  .content h2 {
    font-size: 18px;
  }

  .content p {
    font-size: 13px;
  }
}
