.container {
  background-color: #eee;
  border: 1px solid black;
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
}

.infoContainer {
  margin-bottom: 1rem;
}

.infoContainer p {
  margin: auto;
}

.answersContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.answersContainer p {
  margin: 0;
}

.contentContainer {
  display: flex;
  margin-bottom: 1rem;
}

.content p {
  margin: 0;
}

.content h3 {
  margin: 0;
}

.image {
  max-width: 15%;
  max-height: 200px;
  margin-right: 1rem;
}

.content {
  width: 100%;
}

.answerButton {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.answerButton:hover {
  background-color: #ddd;
}

@media (max-width: 600px) {
  .contentContainer {
    flex-direction: column;
  }
  .image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
