.container {
  font-family: var(--font);
}

.headerContainer h1 {
  text-align: center;
  font-size: var(--fz-header-sm);
  color: var(--colors-black);
  margin-bottom: 1rem;
}

.headerContainer p {
  text-align: center;
  font-size: var(--fz-md2);
  color: var(--colors-grey);
  margin-bottom: 30px;
}

.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  cursor: pointer;
  display: block;
  background-color: var(--colors-accent);
  font-family: var(--font);
  font-size: var(--fz-text-sm);
  color: var(--colors-white);
  padding: var(--pad-btn);
  margin: auto;
  margin-bottom: 30px;
  border: none;
  border-radius: var(--radii);
  box-shadow: var(--shadow-active);
}

.button:hover {
  background-color: var(--colors-accent-hov);
}
