

.postContainer {
  background-color: #eee;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}

.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.postContainer h1 {
  margin-bottom: 1rem;
}

.postContainer p {
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #ddd;
}
