.container {
  font-family: var(--font);
}

.postContainer {
  font-family: inherit;
  padding: 1rem;
  background-color: var(--colors-white);
  border: 1px solid var(--colors-lightgrey);
  border-radius: var(--radii);
  margin-bottom: 30px;
}

.infoContainer {
  font-size: var(--fz-sm);
  color: var(--colors-grey);
  margin-bottom: 1rem;
}

.contentContainer {
  display: flex;
  margin-bottom: 1rem;
}

.content {
  width: 80%;
}

.contentContainer h2 {
  font-size: var(--fz-md1);
  margin-bottom: 0.5rem;
}

.contentContainer p {
  font-size: var(--fz-sm);
}

.image {
  border-radius: var(--radii);
  max-width: 20%;
  max-height: 200px;
  margin-right: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--colors-white);
  font-family: var(--font);
  font-size: var(--fz-buttons);
  color: var(--colors-accent);
  padding: var(--pad-sm-btn);
  border: none;
  border-radius: var(--radii);
}

.button:hover {
  color: var(--colors-white);
  background-color: var(--colors-accent-hov);
}

.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 769px) {
  .postContainer {
    padding: 1.5rem;
  }

  .topContainer {
    flex-direction: column;
  }

  .contentContainer {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .buttonsContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    margin-top: 1rem;
  }
}

@media (max-width: 481px) {
  .infoContainer {
    font-size: 13px;
  }

  .answersContainer {
    font-size: 13px;

    flex-direction: column;
    align-items: flex-start;
  }

  .content h2 {
    font-size: 18px;
  }

  .content p {
    font-size: 13px;
  }
}
